

<div ng-controller="eventDetailCtrl">
	<div class="text-center">
		<h2 ng-if="selectedEvent.name_text">{{selectedEvent.name_text}}(<a ng-href="{{shareText}}" title="Share by Email">share</a>)</h2>
		<form ng-if="selectedEvent.password" name="searchForm" class="navbar-form" role="search">
			<div class="form-group">
				<label>Please provide password: </label>
				<input type="text" class="form-control" ng-model="data.password" placeholder="Password...">
			</div>
			<button ng-click="checkPassword(data.password)" class="btn btn-primary">Join the Event</button>
			<div ng-if="!valid" class="alert alert-danger" role="alert">The password is wrong</div>
		</form>
		<a ng-if="!selectedEvent.password && selectedEvent.name_text" class="btn btn-primary" ng-click="login()">Join the Event</a>
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-8" ng-bind-html="selectedEvent.description_html"></div>
	<div class="col-xs-2"></div>
</div>