<div class="panel panel-default row" ng-controller="eventUsersCtrl">
	<div class="text-center">
		<h2>Welcome {{auth.profile.nickname}}! (Not you? <a ng-click="logout()">Logout</a>)</h2>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<ul class="media-list">
		  	<li class="media" ng-repeat="item in attendees| filter: filterAttendees">
		  		<div class="pull-left">
		  			<img ng-src="{{item.pictureUrl}}" class="media-object">
		  		</div>
		  		<div class="media-body pull-left">
		  			<h5><strong>{{item.lastName}} {{item.firstName}}</h5></strong>
		  			<p>{{item.headline}}</p>
			    	<p>Industry: {{item.industry}}</p>
		  		</div>
		  	</li>
		</ul>
	</div>
</div>