<div class="panel panel-default row" ng-controller="eventUsersCtrl">
	<div class="text-center">
		<h2 ng-if="selectedEvent.name_text">Welcome to {{selectedEvent.name_text}}(<a ng-href="{{shareText}}" title="Share by Email">share</a>)</h2>
		<h3 ng-if="attendees.length">You can find other attendees below</h3>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<form ng-if="attendees.length" name="searchForm" class="navbar-form" role="search">
			<div class="form-group">
				<label>Type your query to search:    </label>
				<input type="text" class="form-control" ng-model="data.searchText" placeholder="Search">
			</div>
			<button ng-click="search(data.searchText)" class="btn btn-default">Search</button>
			<button ng-click="restore()" class="btn btn-default">Back to Default</button>
		</form>
		<form ng-if="attendees.length" name="tagForm" class="navbar-form" role="tag">
			<div class="form-group">
				<tags-input ng-model="tags" placeholder="Add tag to filter..." style="width: 200px;">
        			<auto-complete source="filterTag($query)"></auto-complete>
    			</tags-input>
			</div>
			<button ng-click="apply(tags)" class="btn btn-default">Apply</button>
		</form>		
		<form ng-if="rating" name="evaluateForm" class="navbar-form" role="search">
			<label>    Please evaluate this event:    </label>
			<button ng-if="rating" class="btn btn-primary" ng-click="changeCollapsed()">Event Evaluation</button>
			<div collapse="evalCollapsed">
				<span>Overall Ratings:    </span>
				<rating ng-model="evaluation.rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				<br>
				<div class="form-group">
					<lable>Comments (Optional):</lable>
					<textarea class="form-control" rows="3" id="EventDesc" ng-model="evaluation.comments"></textarea>
				</div>
				<br>
				<div class="checkbox"> <label> <input type="checkbox" ng-model="evaluation.anonymous"> Submit Anonymously </label> </div>
				<br>
				<button class="btn btn-primary" ng-click="evaluate(evaluation)" >Submit</button>
			</div>
		</form>
		<p class="alert" ng-if="ratingMessage">{{ratingMessage}}</p>

		<div class="panel-group" id="accordion">
		  	<div class="panel panel-default" ng-repeat="item in results| orderBy:similarityScore:reverse | range:selectedPage:pageSize">
		    	<div class="panel-heading">
		      		<div class="pull-left">
		  				<img ng-src="{{item.pictureUrl}}" class="media-object" style="width: 70%; height: 70%"/>
		  			</div>
		      		<h4 class="panel-title">
		      			<img ng-if="isOnline(item.user_id)" ng-src="http://i.imgur.com/49m7kC8.jpg" style="width: 23px; height: 23px"/>
		      			<img ng-if="!isOnline(item.user_id)" ng-src="http://i.imgur.com/RzVwui6.jpg" style="width: 23px; height: 23px"/>
		      			{{item.firstName}} {{item.lastName}}
		       			<span ng-if="isCollapsed[$index]" class="text-primary">
		        			<a ng-click="isCollapsed[$index] = !isCollapsed[$index]" >
		          				(View More)
		        			</a>
		        		</span>
		        		<span ng-if="!isCollapsed[$index]" class="text-primary">
		        			<a ng-click="isCollapsed[$index] = !isCollapsed[$index]" >
		          				(View Less)
		        			</a>
		        		</span>
		        		<button ng-if="!connection(item)" type="button" class="btn btn-primary pull-right" ng-click="connect(item)">Connect</button>
		        		<button ng-if="connection(item)==1" type="button" class="btn btn-info pull-right">Pending Approval</button>
		        		<button ng-if="connection(item)==2" type="button" class="btn btn-warning pull-right" ng-click="accept(item)">Accept Invitation</button>
		        		<button ng-if="connection(item)==3" type="button" class="btn btn-success pull-right" ng-disabled="!isOnline(item.user_id)" ng-click="message(item)">Message</button>
		      		</h4>
		      		<h5> {{item.headline}} </h5>
		    	</div>
		    	<div collapse="isCollapsed[$index]">
		      		<div class="panel-body">
		      			<p ng-if="item.publicProfileUrl"><a ng-click="viewLinkedIn(item.publicProfileUrl)">View his/her LinkedIn Profile</a></p>
		      			<p ng-if="!item.authorityScore"><strong>Authority:</strong> {{item.authorityScore}}</p>
		      			<p ng-if="!item.similarityScore"><strong>Similarity:</strong> {{item.similarityScore}}</p>
		      			<p ng-if="item.schoolList"><strong>Education:</strong> {{item.schoolList}}</p>
		      			<p ng-if="item.industry"><strong>Industry:</strong> {{item.industry}}</p>
		        		<p ng-if="item.summary"><strong>Summary:</strong> {{item.summary}}</p>
		        		<p><strong>Why you two should know each other?</strong> </p>
		        		<p ng-if="item.sharedIndustry">You two are from same industry: {{item.sharedIndustry}}</p>
		        		<p ng-if="item.sharedSkills">You two share common skills: {{item.sharedSkills}}</p>
		        		<p ng-if="item.sharedCompany">You two have worked at same company: {{item.sharedCompany}}</p>
		        		<p ng-if="item.sharedEducation">You two went to same schools: {{item.sharedEducation}}</p>
		      		</div>
		    	</div>
			</div>
		</div>
		<div class="pull-right">
			<ul class="pagination">
			  	<li ng-repeat="page in results | pageCount:pageSize" 
				  	ng-class="getPageClass($index + 1)">
				  	<a ng-click="selectPage($index + 1)">
						{{$index + 1}}
				  	</a>
				  </li>
			</ul>
		</div>
	</div>
</div>