<!DOCTYPE html>
<html ng-app="eventCards">
<head>
	<title>EventCards</title>
	<link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="./bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
	<link href="./bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />
	<link href="./bower_components/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" />
	<link href="./bower_components/angular-notify/dist/angular-notify.css" rel="stylesheet" />
	<link href="./css/app.css" rel="stylesheet" />
	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/angular-route/angular-route.min.js"></script>
	<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="./bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="./bower_components/auth0-widget.js/build/auth0-widget.min.js"></script>
	<script src="./bower_components/auth0-angular/build/auth0-angular.min.js"></script>
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./bower_components/underscore/underscore.js"></script>
	<script src="./bower_components/moment/moment.js"></script>
	<script src="./bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
	<script src="./bower_components/socket.io-client/socket.io.js"></script>
	<script src="./bower_components/angular-socket-io/socket.js"></script>
	<script src="./bower_components/bootstrap-rating-input/build/bootstrap-rating-input.min.js"></script>
	<script src="./bower_components/ng-tags-input/ng-tags-input.min.js"></script>
	<script src="./bower_components/angular-notify/dist/angular-notify.js"></script>
	<script src="./controllers/eventCards.js"></script>
	<script src="./controllers/eventListControllers.js"></script>
	<script src="./controllers/eventDetailControllers.js"></script>
	<script src="./controllers/eventUsersControllers.js"></script>
	<script src="./controllers/connectionsControllers.js"></script>
	<script src="./filters/customFilters.js"></script>
	<script src="./components/eventBox/eventBox.js"></script>
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43027714-2', 'auto');
		  ga('send', 'pageview');
	</script>
	<!-- Setting the right viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body ng-controller="eventCardsCtrl">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ng-click="home()">Event Card</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	          	<li><a href="#/connections">Connections</a></li>
	            <li ng-if="!auth.isAuthenticated"><a ng-click="login()">Log In</a></li>
	            <li ng-if="auth.isAuthenticated" class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{auth.profile.nickname}} <span class="caret"></span></a>
		          	<ul class="dropdown-menu" role="menu">
		            	<li><a href="#">Profile</a></li>
		            	<li><a href="#">Settings</a></li>
		            	<li><a href="#">Help</a></li>
		            	<li class="divider"></li>
		            	<li><a ng-click="logout()">Log Out</a></li>
		          	</ul>
		        </li>
	          </ul>
	        </div>
		</div>
	</div>
	<ng-view />
</body>
</html>